<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Uthr – Fashion eCommerce HTML Template </title>
    <meta name="description" content="Uthr Fashion eCommerce Bootstrap 5 Template is an innovative and modern e-commerce online store website template." />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="profile" href="https://gmpg.org/xfn/11">
    <link rel="canonical" href="https://localhost:44364" />

    <!-- Add site Favicon -->
    <link rel="icon" href="https://hasthemes.com/wp-content/uploads/2019/04/cropped-favicon-32x32.png" sizes="32x32" />
    <link rel="icon" href="https://hasthemes.com/wp-content/uploads/2019/04/cropped-favicon-192x192.png"
          sizes="192x192" />
    <link rel="apple-touch-icon" href="https://hasthemes.com/wp-content/uploads/2019/04/cropped-favicon-180x180.png" />
    <meta name="msapplication-TileImage" content="https://hasthemes.com/wp-content/uploads/2019/04/cropped-favicon-270x270.png" />

    <!-- CSS
    ========================= -->
    <link href="~/Content/UTHRProduct/assets/css/vendor/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/UTHRProduct/assets/css/slick.css" rel="stylesheet" />
    <link href="~/Content/UTHRProduct/assets/css/simple-line-icons.css" rel="stylesheet" />
    <link href="~/Content/UTHRProduct/assets/css/ionicons.min.css" rel="stylesheet" />
    <link href="~/Content/UTHRProduct/assets/css/font.awesome.css" rel="stylesheet" />
    <link href="~/Content/UTHRProduct/assets/css/animate.css" rel="stylesheet" />
    <link href="~/Content/UTHRProduct/assets/css/nice-select.css" rel="stylesheet" />
    <link href="~/Content/UTHRProduct/assets/css/jquery-ui.min.css" rel="stylesheet" />
    <link href="~/Content/UTHRProduct/assets/css/magnific-popup.css" rel="stylesheet" />

    <!-- Main Style CSS -->
    <link href="~/Content/UTHRProduct/assets/css/style.css" rel="stylesheet" />

    <!--modernizr min js here-->
    <script src="~/Content/UTHRProduct/assets/js/vendor/modernizr-3.7.1.min.js"></script>

    <!-- Structured Data  -->
    <!-- Structured Data  -->
    <script type="application/ld+json">
    {
        "name": "Replace_with_your_site_title",
        "url": "Replace_with_your_site_URL"
    }
    </script>

</head>
@RenderBody()
</html>