<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.7.2" />
    <httpRuntime targetFramework="4.7.2" />
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.2" newVersion="4.0.1.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Text.Encodings.Web" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.9.0" newVersion="5.2.9.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Google.Apis.Auth" publicKeyToken="4b01fa6e34db77ab" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.64.0.0" newVersion="1.64.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Google.Apis.Core" publicKeyToken="4b01fa6e34db77ab" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.64.0.0" newVersion="1.64.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <add name="ShopConnectionString" connectionString="Data Source=QHOAN-TRAN3008;Initial Catalog=Shop;User ID=sa;Password=123;Multiple Active Result Sets=True;Application Name=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="ShopConnectionString1" connectionString="Data Source=QHOAN-TRAN3008;Initial Catalog=Shop;User ID=sa;Password=123" providerName="System.Data.SqlClient" />
    <add name="TH15Entities" connectionString="metadata=res://*/Models.Food.csdl|res://*/Models.Food.ssdl|res://*/Models.Food.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=QHOAN-TRAN3008;initial catalog=TH15;user id=sa;password=123;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ShopEntities" connectionString="metadata=res://*/Models.KhachHang.csdl|res://*/Models.KhachHang.ssdl|res://*/Models.KhachHang.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=QHOAN-TRAN3008;initial catalog=Shop;persist security info=True;user id=sa;password=123;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ShopEntities1" connectionString="metadata=res://*/Models.Shop.csdl|res://*/Models.Shop.ssdl|res://*/Models.Shop.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=QHOAN-TRAN3008;initial catalog=Shop;user id=sa;password=123;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ShopEntities2" connectionString="metadata=res://*/Models.ShopEntity.csdl|res://*/Models.ShopEntity.ssdl|res://*/Models.ShopEntity.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=QHOAN-TRAN3008;initial catalog=Shop;persist security info=True;user id=sa;password=123;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ShopEntities3" connectionString="metadata=res://*/Models.QLShop.csdl|res://*/Models.QLShop.ssdl|res://*/Models.QLShop.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=QHOAN-TRAN3008;initial catalog=Shop;user id=sa;password=123;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="QL_Shop" connectionString="metadata=res://*/Models.QL_Shop_Latest.csdl|res://*/Models.QL_Shop_Latest.ssdl|res://*/Models.QL_Shop_Latest.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=QHOAN-TRAN3008;initial catalog=Shop;user id=sa;password=123;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ShopElectronicEntity" connectionString="metadata=res://*/Models.QL_Shop_Electronic.csdl|res://*/Models.QL_Shop_Electronic.ssdl|res://*/Models.QL_Shop_Electronic.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=QHOAN-TRAN3008;initial catalog=Shop;user id=sa;password=123;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ShopEntities4" connectionString="metadata=res://*/Models.Shop_Electtronic_EF.csdl|res://*/Models.Shop_Electtronic_EF.ssdl|res://*/Models.Shop_Electtronic_EF.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=QHOAN-TRAN3008;initial catalog=Shop;user id=sa;password=123;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ManageElectronicProduct" connectionString="metadata=res://*/Models.ManageElectronicProduct.csdl|res://*/Models.ManageElectronicProduct.ssdl|res://*/Models.ManageElectronicProduct.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=QHOAN-TRAN3008;initial catalog=Shop;user id=sa;password=123;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ManageElectronicEntity" connectionString="metadata=res://*/Models.ManageElectronicEntity.csdl|res://*/Models.ManageElectronicEntity.ssdl|res://*/Models.ManageElectronicEntity.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=QHOAN-TRAN3008;initial catalog=Shop;user id=sa;password=123;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="FashionShopEntity" connectionString="metadata=res://*/Models.FashionShopEntity.csdl|res://*/Models.FashionShopEntity.ssdl|res://*/Models.FashionShopEntity.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=QHOAN-TRAN3008;initial catalog=Shop;persist security info=True;user id=sa;password=123;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="FashionShopEntity1" connectionString="metadata=res://*/Models.FashionShopEntity.csdl|res://*/Models.FashionShopEntity.ssdl|res://*/Models.FashionShopEntity.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=QHOAN-TRAN3008;initial catalog=Shop;persist security info=True;user id=sa;password=123;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ShopEntities5" connectionString="metadata=res://*/Models.entity.csdl|res://*/Models.entity.ssdl|res://*/Models.entity.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=QHOAN-TRAN3008;initial catalog=Shop;persist security info=True;user id=sa;password=123;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <system.webServer>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>
</configuration>